.shop-cart {
    transition: all .3s ease;

    display: grid;
    grid-template-rows: [tog-s] 40px [tog-e con-s] 1fr [con-e];
    grid-template-columns: [s] 1fr [e];
    grid-row-gap: 15px;
    
    &__toggle {
        grid-row: tog-s/tog-e;
        grid-column: s/e;
        justify-self: end;
    }

    &__content {
        grid-row: con-s/con-e;
        grid-column: s/e;
    }
}

.shop-cart {
    &__toggle {
        z-index: 6;
    }
    &__content {
        height: 675px;
        width: 520px;
        background-color: #333;
        box-shadow: -3px 20px 20px 0 rgba(0,0,0,0.2);
    }
}

.cart-button {
    transition: all .3s ease;
    
    background-color: #333;
    color: white;
    font-size: 28px;
    border-radius: 25px 0 0 25px;
    height: 40px;
    width: 76px;

    display: grid;
    justify-items: center;
    align-items: center;
}

.cart-content {
    display: grid;
    grid-template-rows: 25px [title-s] 40px [title-e products-s] 1fr [products-e footer-s] 113px [footer-e];
    grid-template-columns: [footer-s] 30px [s] 1fr [e] 30px [footer-e];

    &__title {
        grid-column: s/e;
        grid-row: title-s/title-e;
        font-weight: 600;
        font-size: 30px;
        font-family: 'Titillium Web';
        color: #E6E6E6;
        // margin-bottom: 50px;
    }
    &__products {
        padding-top: 50px;
        grid-column: s/e;
        grid-row: products-s/products-e;
        display: grid;
        overflow-y: scroll;
        grid-row-gap: 45px;
    }
    &__footer {
        grid-column: footer-s/footer-e;
        grid-row: footer-s/footer-e;
        display: grid;
    }
}


.cart-footer {
    height: 113px;
    background-color: #1A1A1A;

    display: grid;
    grid-template-rows: [s] 1fr [e];
    grid-template-columns: 50px [checkout-s] 1fr [checkout-e sub-s] 1fr [sub-e] 27px [price-s] 46px [price-e] 31px;
    align-items: center;

    & > * {
        grid-row: s/e;
    }
  
    &__checkout {
        grid-column: checkout-s/checkout-e; 

        display: grid;
        justify-items: center;
        align-items: center;

        height: 38px;
        width: 183px;
        border-radius: 20px;
        background-color: #00CB79;

        color: white;
        font-size: 1.6rem;
        font-weight: 600;

        transition: all .3s ease;

        &:hover {
            transform: scale(0.97);
        }

        &:active {
            transform: scale(0.95);
        }

        &:focus {
            outline: none;
        }
    }

    &__subtotal {
        justify-self: end;
        grid-column: sub-s/sub-e; 
        font-size: 18px;
    }

    &__price {
        justify-self: start;
        grid-column: price-s/price-e; 
        font-size: 18px;
        color: white;
        font-weight: 600;
    }

}


.cart-hidden {
    transform: translateX(520px);
}