.shop-search-bar {
    input {
        font-size: 20px;

        height: 40px;
        width: 100%;
        border: 1px solid #E6E6E6;
        border-radius: 20px;

        color: #808080;

        &::placeholder {
            color: #CCCCCC;
        }

        &:focus {
            outline: none;
        }
    }
}

.search-bar-grid {
    display: grid;
    grid-template-rows: [s] 1fr [e];
    grid-template-columns: 20px [s] 20px [icon-e] 1fr [e] 50px;

     &__icon {
        grid-row: s/e;
        grid-column: s/icon-e;
        font-size: 18px;
        z-index: 100;
        align-self: center;
     }
     
     &__input {
        grid-row: s/e;
        grid-column: 1/e;

        padding-left: 50px;
     }
}