// PLACE FRONT AND BACK ON TOP OF EACHOTHER
.shop-product {
    display: grid;
    grid-template-rows: 1/-1;
    grid-template-columns: 1/-1;

    & > * {
        grid-row: 1/-1;
        grid-column: 1/-1;
    }

    // SAME EFFECT BELOW

    // &__front, 
    // &__back {
    //     grid-row: 1/-1;
    //     grid-column: 1/-1;
    // }
}

// CARD FLIP
.shop-product {
    perspective: 150rem;
    -moz-perspective: 150rem;

    &__front, 
    &__back {
        backface-visibility: hidden;
        transition: all .3s ease;
    }

    &__back {
        transform: rotateY(-180deg);
    }

    &:hover &__front {
        transform: rotateY(180deg);
    }
    &:hover &__back {
        transform: rotateY(0deg);
    }
}

.shop-product__front {
    height: 314px;
    width: 240px;
    display: grid;
    justify-items: center;
    align-items: center;
    &__image {

    }
    &__title {
        color: #333;
        font-size: 18px;
        font-family: 'Titillium Web';
        // text-align: center;
    }


}



.shop-product__back {
    height: 314px;
    width: 240px;
    background-color: white;
    box-shadow: 0 2px 20px 0 rgba(0,0,0,0.1);

    display: grid;
    grid-template-rows: 15px [title-s] 30px [title-e description-s] 1fr [description-e price-s] 25px [price-e footer-s] 65px [footer-e] 15px; 
    grid-template-columns: 15px [s] 1fr [e] 15px;
    justify-items: start;
    grid-row-gap: 7px;

    & > * {
        grid-column: s/e;
    }

    &__title {
        grid-row: title-s/title-e;

        color: #00CB79;
        font-family: "Encode Sans Condensed";
        font-size: 16px;
        font-weight: 500;
    }

    &__description {
        grid-row: description-s/description-e;

        font-size: 13px;
        color: #333333;
    }

    &__price {
        grid-row: price-s/price-e;
    }

    &__quantity {
        grid-row: footer-s/footer-e;
    }

    &__add-to-cart {
        justify-self: end;
        grid-row: footer-s/footer-e;

        height: 40px;
        width: 97px;
        border-radius: 20px;
        color: white;
        background-color: #00CB79;
        font-weight: 600;
        font-size: 12px;

        display: grid;
        justify-items: center;
        align-items: center;

        transition: all .3s ease;

        &:hover {
            transform: scale(0.97);
        }

        &:active {
            transform: scale(0.95);
        }
    }
}