.layout {
    display: grid;
    grid-template-rows: [header-s] 50px [header-e navbar-s] 50px [navbar-e content-s] 1fr [content-e];
    grid-template-columns: minmax(20px, 250px) [s] 1fr [e] minmax(20px, 250px);
}