
html {
    font-size: 62.5%;
}
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body {
    font-family: "Open Sans";
    color: #808080;
}
@import 'layout';
@import 'headernavbar';
@import 'page-title';
@import 'form-fields';
@import 'details';
// AUTH 
@import 'auth/signin';
@import 'auth/signup';
// ACCOUNT
@import 'account/account';
@import 'account/purchase-history';
@import 'account/account-information';

// SHOP
@import 'shop/shop';
@import 'shop/shop-search-bar'; 