

html {
    font-size: 62.5%;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


@import 'layout';
@import 'headernavbar';
@import 'auth/signin';
@import 'auth/signup';