.account-information {
    grid-row: content-s/content-e;
    grid-column: s/e;

    // &__page-title {

    // }

    &__form {
        display: grid;
        grid-template-rows: [name-s street-address-s] 64px [name-e street-address-e email-s city-s] 64px [email-e city-e state-s zipcode-s] 64px [zipcode-e state-e change-password-s current-s] 64px [change-password-e current-e new-s] 64px [new-e confirm-s] 64px [confirm-e] minmax(20px, 81px) [line-s] 26px [line-e buttons-s] 38px [buttons-e];
        grid-template-columns: [s cancel-s] 137px [cancel-e] 40px [update-s] 1fr [m] 1fr [update-e] 1fr [e];
        grid-row-gap: 15px;
    }
}

.account-information-form {

    &__name {
        grid-column: s/m;
        grid-row: name-s/name-e;
    }
    &__email {
        grid-column: s/m;
        grid-row: email-s/email-e;
    }
    &__street-address {
        grid-column: m/e;
        grid-row: street-address-s/street-address-e;
    }
    &__city {
        grid-column: m/e;
        grid-row: city-s/city-e;
    }
    &__state {
        grid-row: state-s/state-e;
    }
    &__zipcode {
        grid-row: zipcode-s/zipcode-e;
        transform: translateX(226px);
    }

    &__state,
    &__zipcode {
        grid-column: m/e;
        input {
            width: 200px;
        }
    }

    &__change-password,
    &__current {
        grid-column: s/m;
        grid-row: change-password-s/change-password-e;
        transform: translateY(-38px);
    }

    &__new {
        grid-column: s/m;
        grid-row: new-s/new-e;  
    }

    &__confirm {
        grid-column: s/m;
        grid-row: confirm-s/confirm-e;
    }

    &__new, 
    &__confirm {
        transform: translateY(-25px);
    }

    &__line {
        grid-row: line-s/line-e;
        grid-column: s/e;
        border-top: 1px solid #ccc;
        margin-bottom: 24px;
    }

    &__cancel {
        grid-column: cancel-s/cancel-e;
        grid-row: buttons-s/buttons-e;
    }

    &__update-information {
        grid-column: update-s/update-e;
        grid-row: buttons-s/buttons-e;

    }


}